<!-- <app-home></app-home> -->
<!-- <span app-home></span> -->
<!--<app-interpolation></app-interpolation>-->
<!-- <app-e-binding></app-e-binding> -->
<!-- <app-p-binding></app-p-binding> -->
<!-- <app-c-binding></app-c-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-s-binding></app-s-binding> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-parent></app-parent> -->
<!-- <app-child></app-child> -->
<router-outlet></router-outlet>
<!-- <app-sibling1></app-sibling1> -->
<!-- <app-sibling2></app-sibling2> -->
<!-- <app-courses></app-courses> -->
<!-- <app-observable></app-observable> -->
