<button (click)="onclick()" style="color:red">clickme</button>
<button (dblclick)="ondbl()">here</button>
<button (mouseover)="mouse()">mouseover</button>
<button (mouseout)="out()">out</button>
<button (mousemove)="move()">mouse move</button>
<input type="text" placeholder="keypdown"(keydown)="keydown()">
<input type="text" placeholder="keyup"(keyup)="keyup()">
<input type="text" placeholder="keypress"(keypress)="keypress()">
<input type="text" placeholder="onfocus" (focusout)="onfocus()">
<input type="text" placeholder="blur" (blur)="onblur()">
<input type="text" placeholder="input" (input)="oninput()">
